
@{
    ViewBag.Title = "Index";
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}
<h2>DANH SACH KHOA HOC</h2>
<div class="row">
    <ul>
        @foreach (var course in Model)
         {
             <li>
                    @course.DateTime.ToString("dd/MM/yyyy HH:mm") - @course.Name
             </li>
         }
    </ul>
</div>



